<% provide(:title, "Edit Comment") %>
<div class="container-fluid">
<h1>Edit the Comment</h1>
    <%= form_for(@comments) do |f| %>
      <p><%= f.label :title %>:</p>
      <p><%= f.text_field :title %></p>
      <p><%= f.label :content %>:</p>
      <p><%= f.text_field :content %></p>
      <p><%= f.submit "Save changes"%></p>
    <% end %>
</div>