<% provide(:title, "Edit Song") %>
<h1>Update the Song</h1>

<div class="row">
  <div >
    <%= form_for(@songs) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :directory %>
      <%= f.text_field :directory %>

      <%= f.label :tempo %>
      <%= f.text_field :tempo %>
      
      <%= f.label :key %>
      <%= f.text_field :key %>
      
      <%= f.label :sample %>
      <%= f.text_field :sample%>

      <%= f.submit "Save changes"%>
    <% end %>

  </div>
</div>