<div class="header">
  <div class="container">
    <h1>Add Song Page</h1>
  </div>
</div>

<div class="song">
  <div class="container">
<%= form_for(@songs) do |f| %>  
  <div class="field"> 
    <%= f.label :title %><br> 
    <%= f.text_area :title %><br>
    <%= f.label :directory %><br> 
    <%= f.text_area :directory %><br>
    <%= f.label :tempo %><br> 
    <%= f.text_area :tempo %><br>
    <%= f.label :key %><br> 
    <%= f.text_area :key %><br>
    <%= f.label :sample %><br> 
    <%= f.text_area :sample %><br>
  </div> 
  <div class="actions"> 
    <%= f.submit "Create" %> 
  </div> 
<% end %>
  </div>
</div>