<div class="container-fluid">
  <h1><%= @songs.title %></h1>
    <div class="song"> 
    <table class="table">
      <tr>
        <td>Song #:</td>
        <td>Title:</td>
        <td>Project Directory:</td>
        <td>Tempo:</td>
        <td>Key:</td>
        <td>Sample:</td>
        <td>Created On:</td>
      </tr>
      <tr>
        <td class="content"><%= @songs.id %></td> 
        <td class="content"><%= @songs.title %></td>
        <td class="content"><%= @songs.directory %></td>
        <td class="content"><%= @songs.tempo %></td> 
        <td class="content"><%= @songs.key %></td>
        <td class="content"><%= @songs.sample %></td>
        <td class="time"><%= @songs.created_at %></td> 
      </tr>
    </table>
    </div>
    <%= link_to "Edit", [:edit, @songs], :class => "btn btn-warning", :type => "button" %>
    <%= link_to "Delete", @songs, :class => "btn btn-danger", :type => "button", method: :delete,
                                         data: { confirm: "You sure?" } %>
    <br>

  <h2>Contributors</h2>
  <% @contributors.each do |c| %>
  <p class="content"> <%= link_to c.name, c%></p>
  <%= link_to "Delete", {:controller => :parts, :action => 'destroy', :id => Part.find_by(contributor_id: c.id, song_id: @songs.id) }, :method => :delete, data: { confirm: "You sure?" } %>
  <%end%>
  <h2>Comments</h2>
  <% @comments.each do |c| %>
    <div>
    <p>Title: <%= c.title%></p>
    <p>Body: <br><%= c.content%></p>
    <p><%= link_to "Edit", edit_comment_path(c) %></p>
    <p><%= link_to "Delete", c, method: :delete, data: { confirm: "You sure?" } %></p>
    </div>
  <%end%>
  <div><%= link_to "New Comment", new_comment_path(song_id: @songs.id, song_title: @songs.title)%></div>
</div>