<div class="container-fluid">
  <h1><%= @songs.title %></h1>
    <div class="song"> 
    <table class="table">
      <tr>
        <td>Song #:</td>
        <td>Title:</td>
        <td>Project Directory:</td>
        <td>Tempo:</td>
        <td>Key:</td>
        <td>Sample:</td>
        <td>Created On:</td>
      </tr>
      <tr>
        <td class="content"><%= @songs.id %></td> 
        <td class="content"><%= @songs.title %></td>
        <td class="content"><%= @songs.directory %></td>
        <td class="content"><%= @songs.tempo %></td> 
        <td class="content"><%= @songs.key %></td>
        <td class="content"><%= @songs.sample %></td>
        <td class="time"><%= @songs.created_at %></td> 
      </tr>
    </table>
    </div>
    <%= link_to "Edit", [:edit, @songs], :class => "btn btn-warning", :type => "button" %>
    <%= link_to "Delete", @songs, :class => "btn btn-danger", :type => "button", method: :delete,
                                         data: { confirm: "You sure?" } %>
    <br>

  <h2>Contributors</h2>
  <div class="row">
  <% @contributors.each do |c| %>
  <div class="col-md-4"> 
  <h3><%= link_to c.name, c%></h3>
  <%= link_to "Remove Contributor", {:controller => :parts, :action => 'destroy', :id => Part.find_by(contributor_id: c.id, song_id: @songs.id)}, :class => "btn btn-danger", :type => "button", :method => :delete, data: { confirm: "You sure?" } %>
  </div>
  <%end%>
  </div>
  <h2>Comments</h2>
  <% @comments.each do |c| %>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Comment Title: <%= c.title%></h3>
    </div>
    <div class="panel-body"><%= c.content%></div>
    <div class="panel-body"><%= link_to "Edit", edit_comment_path(c), :class => "btn btn-warning", :type => "button" %></div>
    <div class="panel-body"><%= link_to "Delete", c, method: :delete, data: { confirm: "You sure?" }, :class => "btn btn-danger", :type => "button" %></div>
    </div>
  <%end%>
  <div><%= link_to "New Comment", new_comment_path(song_id: @songs.id, song_title: @songs.title), :class => "btn btn-primary", :type => "button"%></div>
</div>
