<div class="container-fluid">
  <h1>Contributor Directory</h1>
  <%= link_to 'New Contributor', new_contributor_path, :class => "btn btn-primary", :type => "button" %><br><br>
  <% @contributors.each do |c| %> 
  <div class="contributor"> 
    <h2>Name: <%= link_to c.name, c %> </h2>
    <p class="content">Age: <%= c.age %></p>
    <p class="content">Current Band: <%= c.band %> </p>
    <p class="content">Bio: <%= c.bio %></p>
    <h3>Contributor on these Songs:</h3>
    <% c.songs.each do |song| %>
    <p class="content">TITLE: <%= link_to song.title, song%> ID: <%=song.id%></p>
    <% end %>
  </div> 
  <% end %>
</div>