<div class="container-fluid">
  <h1>Add Contributor Page</h1>
<%= form_for(@contributors) do |f| %>  
    <%= f.label :name %><br> 
    <%= f.text_area :name %><br>
    <%= f.label :band %><br> 
    <%= f.text_area :band %><br>
    <%= f.label :age %><br> 
    <%= f.text_area :age %><br>
    <%= f.label :bio %><br> 
    <%= f.text_area :bio %><br>
    <p>Assign Contributor Status to Song:</p>
    <select name="song[contributor_id]">
      <!-- I want a blank option if the song we want to add to doesn't exist yet.. but how do I pass nothing to the create? -->
      <!-- <option disabled selected value>No Song</option> -->
        <% Song.all.each do |s| %>
          <option value="<%= s.id %>"> <%= s.title %></option>
          <%end%>
    </select><br><br>
  <div class="actions"> 
    <%= f.submit "Create" %> 
  </div> 
<% end %>
  </div>
